<header class="masthead">

<div class="container d-flex h-100 align-items-center">
  <div class="mx-auto text-center">
  
    <h1 class="mx-auto my-0 text-uppercase">Come Train Me LDN</h1>
    <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome to Londons number 1 booking site for Mobile Personal Trainers! Find a Mobile Personal Trainer near you..</h2>
    <p class="text-white-50 mx-auto mt-2 mb-5">Which describes you best?</p>
    <p class="text-white-50 mx-auto mt-2 mb-5">"I want to be trained" (<%= link_to "Trainee Signup", new_user_path %> / <%= link_to "Trainee Login", new_user_session_path %>)</p>
    <p class="text-white-50 mx-auto mt-2 mb-5">"I want to train people" (<%= link_to "Trainer Signup", new_trainer_path %> / <%= link_to "Trainer Login", new_trainer_session_path %>)</p><br><br><br>
    <div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Why book with a MOBILE personal trainer?</h2>
      <p class="text-white-50 mx-auto mt-2 mb-5">City working life can be busy and finding time to go to the gym can be tricky! Mobile personal trainers will come to you, at your desired location, whether your home, the office, or in your local park and at a time that suits your schedule! Minimal space and equipment required, these trained professionals will have you on track in no time! Book with one today.</p><br><br><br>
    </div>
  </div>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
      <div class="card py-4 h-100">
        <div class="card-body text-center">
          
          <h4 class="text-uppercase m-0">Email Support</h4>
          <hr class="my-4">
          <div class="small text-black-50">
            <a href="#">ehayne00@hotmail.com</a><br><br><br>
            <div class="container">Copyright &copy; Come Train Me LDN 2020
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</header>

<!-- About Section -->
<div>
<img src="assets/man_hanging.jpg" class="img-fluid header_bg" alt="">
<section id="about" class="about-section text-center">

  
</div>
</section>



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/grayscale.min.js"></script>

