<header class="masthead">

<div class="container d-flex h-100 align-items-center">
  <div class="mx-auto text-center">
  
    <h1 class="mx-auto my-0 text-uppercase">Edit you details:</h1>
    
</div>
</header>

<!-- About Section -->
<div>
<img src="../../assets/man_hanging.jpg" class="img-fluid header_bg" alt="">
<section id="about" class="about-section text-center">


<%= render "form" %>
</div>
</section>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/grayscale.min.js"></script>
